*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
.menu-burger{
  cursor: pointer;
  position: absolute;
  top:20px;
  right:30px;
  z-index: 2;
  display: none;
}
.main-menu{
  display:flex;
  align-items: center;
  flex:2;
}
.container{
  width:90%;
  max-width:1100px;
  margin:auto;
}
.main-nav .logo{
  height:30px;
  width: 150px;
}
.main-nav{
  display:flex;
  font-weight: lighter;
  padding:20px 0;
  font-size: 13px;
}

.main-menu a{
  text-decoration: none;
  color:#262626;
  margin:10px;
  padding:5px;
}
.main-menu a:hover{
  border-bottom: 2px solid #262626;
}
.right-menu{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
}
.right-menu a{
  color:#262626;
  padding:5px 10px;
}
.right-menu a:hover{
  border-bottom: 2px solid #262626;
}
ul{
  list-style:none;
}
/* showcase */
.showcase{
  display:flex;
  align-items: center;
  flex-direction: column;
  background-image: url('images/showcase.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:400px;
  width:100%;
  font-size: 15px;
  line-height:1.8;
  margin-bottom: 10px;
}
h1{
  margin-top: 220px;
}
.btn{
  cursor:pointer;
  color:#fff;
  font-weight: bold;
  background-color: #262626;
  font-size: 15px;
  padding:15px 20px;
  border: none;
  margin-top: 30px;
}
.btn:hover{
  opacity:0.9;
}
/* cards */
.wrapper{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:1em;
  margin-bottom: 40px;
}
.wrapper img{
  width:100%;
  margin-bottom:10px;
}
.wrapper h3{
  margin-bottom: 10px;
}
.wrapper p{
  margin-bottom: 20px;
}
.wrapper a{
  display: inline-block;
  text-decoration: none;
  color:blue;
  font-weight: bold;
}
.wrapper a:hover i{
  margin-left: 10px;
}
/* xbox */
.xbox{
  background-image: url("images/xbox.png");
  background-repeat: no-repeat;
  background-size: cover;
  height:350px;
  margin-bottom: 20px;
  width:100%;
}
.content{
  width: 40%;
  padding:50px 0 0 30px;
}
.content p{
  margin:10px 0 4px 0;
}
.scenery{
  background-image: url("images/scenery.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width:100%;
  margin-bottom: 40px;
}
.scenery h2,.scenery p{
  color: #fff;
}

.btn2{
  cursor:pointer;
  color:#262626;
  font-weight: bold;
  background-color: #fff;
  font-size: 15px;
  padding:15px 20px;
  border: none;
  margin-top: 30px;
}
.btn2:hover{
  opacity:0.9;
}
.social-links{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.social-links img{
  height:30px;
  width:30px;
  margin-left: 10px;
}
/* media query */
@media(max-width:700px){
  .menu-burger:hover{
    opacity:0.5;
    position: fixed;
  }
  .main-nav ul.main-menu{
    background-color:#f2f2f2;
    width:50%;
    height:100%;
    display:block;
    position: absolute;
    top:0;
    left:0;
    padding:20px;
    font-size: 20px;
    opacity: 0.9;
    transform:translateX(-500px);
    transition:transform 0.5s ease-in-out;
  }
  .main-nav ul.main-menu .show{
    transform:translateX(-20px);
  }
  .main-nav ul.main-menu li{
    padding:10px;
    border-bottom: #c2c2c2 solid 2px;
  }
  .main-nav ul.main-menu li:last-child{
    border-bottom:none;
  }
  .main-nav ul.right-menu{
    padding-left:55% ;
  }
  .wrapper{
    grid-template-columns: repeat(2,1fr);
  }
  .xbox .content p{
    display: none;
  }
  .scenery .content{
    width:85%;
  }
  .menu-burger{
    display: block;
  }
}

@media(max-width:500px){
  .wrapper{
    grid-template-columns: 1fr;
  }
  .xbox {
    width:100%;
  }
  .scenery .content{
    width:95%;
  }
}
